<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holy Grail Lorem Ipsum</title>
    <meta name="description" content="A Lorem Ipsum generator based on the script of Monty Python And The Holy Grail.">
    <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <style>
        body{
            background-color:#FFF;
            font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
            color: #212121;
        }
        h1{
            font-family: 'Uncial Antiqua', cursive;
            font-size: 66px;
        }
        p {
            font-size:18px;
        }
    </style>
</head>
<body>

<div style="max-width:600px;margin:50px auto;">
