<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holy Grail Lorem Ipsum</title>
    <meta name="description" content="A Lorem Ipsum generator based on the script of Monty Python And The Holy Grail.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
    <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" media="screen, projection">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

<div class="container">
